 -----
 JSOFA
 -----
 Paul Harrison
 -----

JSOFA

   The JSOFA software is a pure Java translation of the International
   Astronomical Union's C SOFA software library (version ${project.version}) at {{http://www.iausofa.org/}}.
      
   For more information on using please read the {{{./apidocs/org/jastronomy/jsofa/package-summary.html#package.description}javadoc}} overview.
  
   A jar (Java version 1.7) of the software can be obtained from the  {{{http://central.sonatype.org/}Central Maven repository}} directly by clicking the links in the sidebar 
   and if using maven as a
   build tool by including the following in the POM
   
---
<dependency>
  <groupId>org.javastro</groupId>
  <artifactId>jsofa</artifactId>
  <version>${project.version}</version>
</dependency>
---
   
   
   The software {{{./surefire-report.html}passes}} all its {{{./xref-test/org/jastronomy/jsofa/JSOFATest.html}unit tests}} which are based on the standard tests that come with the official C and Fortran versions from the IAU.
  
   The source code is {{{https://github.com/Javastro/jsofa}on GitHub}}
