 -----
 JSOFA
 -----
 Paul Harrison
 -----

JSOFA

   The JSOFA software is a pure Java translation of the International
   Astronomical Union's C SOFA software library (version 2013-12-02) at {{http://www.iausofa.org/}}.
      
   For more information on using please read the {{{./apidocs/org/jastronomy/jsofa/package-summary.html#package_description}javadoc}} overview.
  
   A jar (Java version 1.7) of the software can be obtained from the local Maven repository {{http://astrogrid.jb.man.ac.uk/maven/}} directly by clicking the links in the sidebar 
   and if using maven as a
   build tool by including the following in the POM
   
---
<dependency>
  <groupId>org.jastronomy</groupId>
  <artifactId>jsofa</artifactId>
  <version>${project.version}</version>
</dependency>
---
   
   
   The software {{{./surefire-report.html}passes}} all its {{{./xref-test/org/jastronomy/jsofa/JSOFATest.html}unit tests}} which are based on the standard tests that come with the official C and Fortran versions from the IAU.
  
   The source code is {{{https://github.com/Javastro/jsofa}on GitHub}}
